/* App.css */

.App {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-size: 12px;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*  */

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 10px 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 10px;
  height: 80px;
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.body-content {
  grid-area: main;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 10px;
  height: 120vh;
}
select {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 160px;
}

.currency-select {
  width: 72px;
}

ul li {
  list-style: none;
  padding: 10px;
}

.upper-content p {
  margin-top: 10px;
  font-size: 14px;
  color: #808080;
}

.upper-content h1 {
  font-size: 20px;
  font-weight: 600;
}

.upper-content,
.lower-content {
  width: 100%;
}

.content-menu {
  color: #808080;
}

.upper-sidebar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upper-sidebar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-para {
  margin-top: 20px;
}

.lower-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lower-content li {
  color: #808080;
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-back {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-forward {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: #fff;
  border: 1px solid #808080;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inner-dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding-left: 10px;
}

.dropdown-flex {
  display: flex;
  flex-direction: column;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  /* margin: 10px; */
  padding-left: 8px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin: 4px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.table-container {
  /* margin-top: 10px; */
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead > tr > th {
  background-color: #b2ddfe;
}

th,
td {
  border: 1px solid #ccc;
  margin: 2px;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
